@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.Todo {
  width: 900px;
  padding: 12px;
  display: flex;
  flex-direction: row; /* Change to row layout */
  align-items: center; /* Vertically center the content */
  background-color: #fff;
  border-radius: 20px;
  margin-left: 13.5rem;
  margin-bottom: 30px;

  font-family: "Poppins", sans-serif;
}

.icon-container {
  margin-left: auto; /* Push the icon container to the right */
  padding-right: 22px;
  display: flex;
}

Todo p {
  margin: 0; /* Remove margin for better alignment */
}

.p-tag {
  padding-left: 50px;
  font-size: 18px;
}

.time-tag {
  font-size: 18px;
  padding-left: 55%;
  margin-left: auto;
}
