* {
  padding: 0;
  margin: 0;
}

#root {
  min-height: 100vh;
  display: flex;
  background-color: #a18aff;
  animation: fadeIn 1.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
